<!DOCTYPE html>
<html>

<head>
  <meta lang="en-US">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width , initial-scale= 1.0" />
  <title>Home</title>
</head>

<body>

  <header c>
    <h1 >MyPortfolio</h1>
  </header>

  <main>
    <article>
      <p>this is paragraph</p>
      <p>this is paragraph</p>
      <p>this is paragraph</p>
      <p>this is paragraph</p>
      <p>this is paragraph</p>
      <p>this is paragraph</p>
      <p>this is paragraph</p>
    </article>

  </main>

  <nav >
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="pageOne">menu</a></li>
      <li><a>Projects</a></li>
      <li><a href="aboutUs">About us</a></li>
    </ul>
  </nav>

  <aside>
    <ul>
      <li>Movie 2023</li>
      <li>Movie 2022</li>
      <li>Movie 2021</li>
      <li>Movie 2020</li>
      <li>Action Movie</li>
      <li>Dram Movie</li>
      <li>SciFi Movie</li>
      <li>Comedy Movie</li>

    </ul>
  </aside>



  <footer>@copyright 2023 make by Behnam esmaili</footer>

</body>

</html>